@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  input {
    @apply placeholder:text-gray-500/90 text-black px-3 py-2 transition duration-300 focus:outline-none focus:border-slate-400 hover:border-slate-300;
  }

  textarea {
    @apply w-full px-4 py-2 rounded-md focus:outline-none resize-none transition-all;
  }

  .title {
    @apply text-2xl font-light text-gray-600;
  }

  .hover {
    @apply hover:bg-gray-200 rounded-full cursor-pointer;
  }

  .hover-square {
    @apply hover:bg-gray-100 cursor-pointer;
  }

  .button-disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .header-hover {
    @apply hover:bg-gray-100 rounded-full p-2 cursor-pointer;
  }

  .header-hover-2 {
    @apply hover:bg-gray-300 rounded-full p-2 cursor-pointer;
  }

  .sidebar-hover {
    @apply hover:bg-gray-100 rounded-full p-2 cursor-pointer;
  }

  .sidebar-hover-2 {
    @apply hover:bg-gray-300 rounded-full p-2 cursor-pointer;
  }
}
